@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: rgba(49, 130, 246, 0.2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
